<br/>
<h5><strong><mark>Projects</mark></strong></h5>
<div class="well well-sm">
    <input type="text" ng-model="search" class="search-query" placeholder="Search">
    <span class="glyphicon glyphicon-search" tooltip="Type any search criteria"></span>
    <a class= "btn pull-right" ng-click="open()"><i class="glyphicon glyphicon-plus-sign"></i> Create Project</a>
</div>

<table class="table table-condensed table-striped table-bordered table-hover">

    <tr>
        <th ng-repeat="column in headerColumns" compile="column"></th>
    </tr>
    <tr ng-repeat="row in data">
       <td>{{row.edipi}}</td>
        <td>{{row.firstName}} {{row.lastName}}</td>
        <td>{{row.pcsDate}}</td>
        <td>{{row.pcsDate}}</td>
        <td class="text-center"><a href="#/projects/edit/{{row.edipi}}"><i class="glyphicon glyphicon-remove"
           tooltip="Delete Project"></i></a>
        </td>
    </tr>

</table>

<div class="form-group">
    <!--<button ng-click="cancel()"-->
            <!--class="btn btn-primary btn-sm" disabled="disabled">Cancel</a>-->
    <!--</button>-->
    <!--
    <button ng-click="create()"
            class="btn btn-primary btn-sm" ng-disabled="isCreateNew">Create New Patient(s)
    </button>
    -->
    <!--<button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"-->
            <!--class="btn btn-primary btn-sm" disabled="disabled">Submit-->
    <!--</button>-->
    <button ng-click="destroy()"
            ng-show="options.patient._id" class="btn btn-danger">Delete
    </button>

</div>

<button class="btn btn-default btn-sm" ng-click="isCollapsed = !isCollapsed">{{!isCollapsed && ' Show JSON' || ' Hide JSON'}}<i
        class="pull-right glyphicon"
        ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}"></i></button>
<hr>
<div collapse="!isCollapsed">
    <pre>{{data|json}}</pre>
</div>

